/*顶部菜单*/

.header-menu {
    width: calc(100% - 189px);
    height: 100%;
    padding: 0 7px;
}

    .header-menu .box {
        height: 100%;
        position: relative;
    }

    .header-menu .exit-box {
        width: 28px;
    }

    .header-menu .user-box {
        width: 84px;
    }

    .header-menu .menu-box {
        overflow: hidden;
    }

    .header-menu .exit-box a {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 11.9px;
        color: #FFFFFF;
        line-height: 49px;
        text-align: center;
        cursor: pointer;
        transition: all .3s;
    }

    .header-menu .user-box .box-title {
        width: 100%;
        height: 100%;
        line-height: 49px;
        text-align: center;
        font-size: 10.5px;
        color: #FFFFFF;
        position: relative;
        cursor: pointer;
        padding: 0 7px;
        transition: all .3s;
    }

        .header-menu .user-box .box-title .userinfo {
            width: 100%;
            overflow: hidden;
        }

            .header-menu .user-box .box-title .userinfo .userimg-box {
                width: 20%;
            }

            .header-menu .user-box .box-title .userinfo .username-box {
                width: 80%;
            }


        /*.header-menu .user-box .box-title span{
	display: inline-block;
	width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

        .header-menu .user-box .box-title .username {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 3.5px;
        }

        .header-menu .user-box .box-title:hover,
        .header-menu .exit-box a:hover {
            background-color: #1c66de;
        }

    .header-menu .user-box .box-content {
        display: none;
        width: 100%;
        /*height: 280px;*/
        background-color: #FFFFFF;
        box-shadow: 0 3.5px 10.5px #dadada;
        z-index: 9;
        border-radius: 0 0 2.8px 2.8px;
        position: relative;
        /* top: 5px; */
        /*left: -30%;*/
    }

        .header-menu .user-box .box-content .personalmenu li:last-child {
            border-top: 1px solid #e6e6e6;
        }

        .header-menu .user-box .box-content .personalmenu li a {
            display: block;
            width: 100%;
            /*text-align: center;*/
            padding: 0px 0px 0px 7px;
            color: #000000;
            font-size: 9.1px;
            line-height: 24.5px;
            position: relative;
        }

            .header-menu .user-box .box-content .personalmenu li a img {
                margin-top: 5px;
                margin-bottom: -5px;
            }

            .header-menu .user-box .box-content .personalmenu li a:hover {
                background-color: #f1f3ff;
                color: #2c6cc9;
            }

            .header-menu .user-box .box-content .personalmenu li a span {
                display: inline-block;
                padding: 0 2.8px;
            }

    .header-menu .cut-line {
        width: 1px;
        background-color: #FFFFFF;
        height: 60%;
        margin: 9.8px 0;
    }

    .header-menu .menu-box ul li {
        float: left;
    }

        .header-menu .menu-box ul li a {
            display: block;
            width: 84px;
            font-size: 10.5px;
            line-height: 49px;
            text-align: center;
            color: #FFFFFF;
            transition: all .3s;
        }

            .header-menu .menu-box ul li a:hover {
                background-color: #1750a5;
            }

    .header-menu .menu-box ul .active a {
        background-color: #1750a5;
    }

.header .header-content .fl img {
    position: relative;
    top: -12px;
    left: -50px;
}

.header-menu .user-box .box-content {
    display: none;
    width: 100%;
    /* height: 280px; */
    background-color: #FFFFFF;
    box-shadow: 0 3.5px 10.5px #dadada;
    z-index: 9;
    border-radius: 0 0 2.8px 2.8px;
    position: relative;
    /* top: 5px; */
    /* left: -30%; */
}


/*检索详情*/

.header {
    width: 100%;
    height: 49px;
    background-color: #2b6ec9;
}

    .header .header-content {
        width: 840px;
        height: 100%;
        margin: 0 auto;
        padding: 0 7px;
    }

        .header .header-content p {
            margin: 0;
            line-height: 49px;
            font-size: 10.5px;
            color: #FFFFFF;
        }

            .header .header-content p img {
                width: 189px;
            }

.fl {
    float: left;
}

.fr {
    float: right;
}

div,
label,
input,
a,
li,
span,
p {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.dn {
    display: none;
}

li a {
    text-decoration: none;
    color: #333;
    cursor: pointer
}

    li a:hover {
        color: #0096db;
        text-decoration: none;
        cursor: pointer
    }

    li a:active {
        cursor: default
    }

    li a:link {
        text-decoration: none;
    }

    li a:visited {
        text-decoration: none;
    }

    li a:hover {
        text-decoration: none;
    }
