@import url(~/Content/bootstrap.min.css);
/*index start*/
* {
    padding: 0px;
    margin: 0px;
}

a {
    cursor: pointer;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

img {
    border: none;
}

ul, li {
    list-style-type: none;
}

.clear {
    clear: both;
    width: 1px;
    height: 0px;
    font-size: 0px;
    overflow: hidden;
}


/*footer*/
.footer {
    width: 100%;
    height: 120px;
    margin: 0 0;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #1c66de;
}

.footerbg {
    width: 1000px;
    height: 9px;
}

.d_nav {
    width: 450px;
    margin: 0 auto;
    font-size: 12px;
    color: white;
    margin-top: 26px;
}

    .d_nav a {
        text-align: center;
        color: white;
        padding: 0px 10px 0px 10px;
    }

.footer p {
    text-align: center;
    font-size: 12px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*典型案例*/
.dxal_content {
    width: 1000px;
    margin: 0 auto;
    margin-top: 12px;
}

/* 所在位置的样式 */
.position1 {
    width: 1000px;
    height: 60px;
    background: url(../../img/support-pattern.png) repeat-x;
    border: 0px;
    padding: 1px;
    padding-top: 0px;
}

    .position1 p {
        font-size: 15px;
        line-height: 90px;
        color: white;
        margin-left: 12px;
    }

        .position1 p a {
            color: white;
            padding: 0px 8px;
        }

/*互动参与-网上答疑*/
.dy1 .dyul1 {
    margin-top: 20px;
    padding-bottom: 20px;
}

    .dy1 .dyul1 li {
        font-size: 14px;
        line-height: 35px;
        padding-left: 15px;
        border-bottom: 1px dashed #e5e5e5;
        width: 970px;
        margin-left: 15px;
        float: left;
        s
    }

        .dy1 .dyul1 li a {
            color: #464646;
        }

        .dy1 .dyul1 li .lslinr {
            margin-left: 43px;
        }

        .dy1 .dyul1 li .date {
            float: right;
            margin-right: 15px;
            color: #9a9a9a;
        }

.hdqk {
    color: #df0000;
}

.page a {
    color: #1c66de;
}

/* 按钮 */

.classy-nav-container a:hover {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    color: #1abc9c;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.classy-navbar {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.classynav ul li {
    display: inline-block;
}

/* Desktop Area CSS */
.breakpoint-off .classynav {
    display: flex;
    align-items: center;
}

    .breakpoint-off .classynav ul li .dropdown {
        position: absolute;
        visibility: hidden;
    }

.main-header-area {
    background-color: #1c66de;
}

.hami-btn {
    min-width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1c66de;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

    .hami-btn:focus, .hami-btn:hover {
        background-color: #ffffff;
    }

    .hami-btn.live--chat--btn {
        border: 1px solid #ffffff;
        line-height: 48px;
        color: #ffffff;
    }

.classy-nav-container .classy-navbar .classynav ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 500;
    padding: 0 20px;
}

.searchForm {
    position: relative;
    z-index: 1;
    width: 80%;
    left: 10%;
}

    .searchForm form {
        position: relative;
        z-index: 1;
        border-radius: 35px;
        box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.15);
    }

        .searchForm form input {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 275px);
            flex: 0 0 calc(100% - 275px);
            max-width: calc(100% - 275px);
            width: calc(100% - 275px);
            height: 60px;
            border: 1px solid #ebebeb;
            border-radius: 35px 0 0 35px;
            padding: 0 30px;
        }

            .searchForm form input:focus {
                box-shadow: none;
                outline: none;
            }

        .searchForm form select {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 80px;
            flex: 0 0 80px;
            max-width: 150px;
            width: 150px;
            height: 60px;
            padding: 0 15px;
            border: none;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-weight: bolder;
        }

            .searchForm form select:focus {
                outline: none;
                box-shadow: 0 0 5px;
                background-color: white;
            }

        .searchForm form button {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 180px;
            flex: 0 0 180px;
            max-width: 180px;
            width: 180px;
            height: 60px;
            background-color: #1c66de;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            border: none;
            cursor: pointer;
            border-radius: 0 35px 35px 0;
            -webkit-transition-duration: 500ms;
            -o-transition-duration: 500ms;
            transition-duration: 500ms;
        }

            .searchForm form button:hover, .searchForm form button:focus {
                font-size: 14px;
                background-color: #ffffff;
                color: #1abc9c;
                border: 3px solid #1c66de;
            }
