@{ ViewBag.Title = "专利检索"; }

<html>
<head>
    <!-- <link href='../../../../fonts.googleapis.com/css@family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../../css/reset.css" title="" type="text/css" media="screen">
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="screen">
    <!-- <script type="text/javascript" src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->

    <script type="text/javascript" src="../../js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
    <script type="text/javascript" src="../../js/html5.js"></script>

    <script>
    </script>
</head>
<body id="body" class="color-blue">
    <div id="settings">
        <a href="#" class="button">Show panel</a>
        <div class="content">
            <ul class="colors">
                <li class="red"><a href="#color-red">Color red</a></li>
                <li class="blue"><a href="#color-blue">Color blue</a></li>
                <li class="green"><a href="#color-green">Color green</a></li>
                <li class="orange"><a href="#color-orange">Color orange</a></li>
                <li class="violet"><a href="#color-violet">Color violet</a></li>
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <!-- MAIN CONTENT  -->
        <section id="content">
            <h1 id="main-head">智能检索</h1>
            <!-- END MAIN CONTENT  -->
            <div class="aside" id="timer">
            </div>
        </section>
        <aside id="newsletter">
            <div class="wrapper">
                @*<form action="/" id="newsletter-form" method="post">*@
                <p>
                    <label for="email" class="main">Stay informed when we will be back</label>
                    <input type="text" name="email" class="email required" id="normal" placeholder="输入关键词" />
                </p>

                <input type="submit" value="submit" class="submit" id="normal-button" />

                @*</form>*@
            </div>
        </aside>
    </div>
    <aside id="secondary">
        <div class="wrapper">
            <section id="contact">
                <h2>表格检索</h2>
                <p class="n1">
                    <label for="n1">关键词(TX)</label>
                    <input id="n1" type="text" class="required" placeholder="摘要(AB)" name="name" />
                </p>
                <p class="n2">
                    <label for="n2">Email</label>
                    <input id="n2" class="email required" type="text" placeholder="国省代码(CO)" name="sender" />
                </p>
                <p class="n3">
                    <label for="n3">Your message</label>
                    <input id="n3" class="required" placeholder="专利权人(PT)" name="msg"></input>
                </p>
                <p class="n4">
                    <label for="n4">Your message</label>
                    <input id="n4" class="required" placeholder="权利要求(CS)" name="msg"></input>
                </p>
            </section>
            <section id="contact">
                <h2>QuePAT检索系统</h2>

                <p class="n5">
                    <label for="n5">分类号(IC)</label>
                    <input id="n5" type="text" class="required" placeholder="分类号(IC)" name="name" />
                </p>
                <p class="n6">
                    <label for="n6">发明人(IN)</label>
                    <input id="n6" class="email required" type="text" placeholder="发明人(IN)" name="sender" />
                </p>
                <p class="n7">
                    <label for="n7">申请号(AN)</label>
                    <input id="n7" class="required" placeholder="申请号(AN)" name="msg"></input>
                </p>
                <p class="n8">
                    <label for="n8">申请人(PA)</label>
                    <input id="n8" class="required" placeholder="申请人(PA)" name="msg"></input>
                </p>
                <input class="submit-button" type="submit" value="submit" id="n-button" />

                <div class="decor"></div>
            </section>
        </div>
        <footer id="footer">
            <div class="wrapper">
                <ul>
                    <li class="email">hello@freshidea.sk</li>
                    <li class="address">Fresh idea, Palo Alto, California</li>
                    <li class="fb"><a href="http://sc.chinaz.com/">sc.chinaz.com</a></li>
                </ul>
            </div>
        </footer>
    </aside>

    <div id="wrapper">
        <!-- MAIN CONTENT  -->
        <section id="content">
            <h1 id="main-head">法律状态检索</h1>
            <!-- END MAIN CONTENT  -->
            <div class="aside" id="timer">
            </div>
        </section>
        <aside id="newsletter">
            <div class="wrapper">

                <p>
                    <label for="email" class="main">Stay informed when we will be back</label>
                    <input type="text" name="email" class="email required" id="law" placeholder="请输入专利申请号" />
                </p>
                <input type="submit" value="检索" class="submit" id="law-button" />

            </div>
        </aside>
    </div>

    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script charset="gb2312" language="javascript" type="text/javascript" src="../../js/search.js"></script>
</body>

</html>

