@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="QuePAT" />
    <meta name="description" content="QuePAT" />
    <link rel="Shortcut Icon" href="~/img/logo_navi3.png">
    <title>QuePAT</title>
    <link rel="stylesheet" href="~/css/rltStyle.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        var pageNum = 1;
        var obj;
        var lPageNum = 1;
        $(function () {
            $(".searchBtn").click(function () {
                var str = $("#inputBox").val();
                var url = "SearchResult?keyword=" + str;
                $.ajax({
                    type: "post",
                    url: "./SearchByName",
                    data: { searchStr: str },
                    success: function (res) {
                        //var json = eval(res);
                        obj = eval(res);
                        for (var i = 1; i < 10; i++) {
                            $("#li" + i).css("display", "none");
                        }
                        console.log(obj);
                        console.log(typeof obj);
                        if (typeof obj == "undefined" || obj.length == 0) {
                            $("#line1").text("没有搜索结果，请输入其他关键字");
                            $("#date1").text("");
                            $("#li1").css("display", "block");
                            $("#totalPagehtml").text("总页数：1");
                            $("#totalSumhtml").text("总条数：0");
                        } else {
                            lPageNum = Math.ceil(obj.length / 9);
                            $("#totalPagehtml").text("总页数：" + lPageNum);
                            $("#totalSumhtml").text("总条数：" + obj.length);
                            for (var i = 0; i < obj.length && i <= 9; i++) {
                                var arr = obj[i].APP_DATE.split("T");
                                $("#line" + (i + 1)).text(obj[i].NAME);
                                $("#date" + (i + 1)).text(arr[0]);
                                $("#li" + (i + 1)).css("display", "block");
                            }
                        }
                        $("#a1").attr("title", obj.NAME);
                    },
                    error: function () {
                        console.log("err");
                    }
                });

            });
            document.getElementsByClassName("searchBtn")[0].click();

        });
        function nextPage() {
            for (var i = 1; i < 10; i++) {
                $("#li" + i).css("display", "none");
            }
            if (pageNum + 1 > lPageNum) {
                return;
            } else {
                for (var i = pageNum * 9; i < obj.length && i < pageNum * 9 + 9; i++) {
                    var arr = obj[i].APP_DATE.split("T");
                    $("#line" + (i - pageNum * 9 + 1)).text(obj[i].NAME);
                    $("#date" + (i - pageNum * 9 + 1)).text(arr[0]);
                    $("#li" + (i - pageNum * 9 + 1)).css("display", "block");
                }
                pageNum += 1;
                $("#currenthtml").text("当前页：" + pageNum);
            }
        }
        function lastPage() {
            for (var i = 1; i < 10; i++) {
                $("#li" + i).css("display", "none");
            }
            if (pageNum - 1 < 1) {
                return;
            } else {
                pageNum -= 2;
                for (var i = pageNum * 9; i < obj.length && i < pageNum * 9 + 9; i++) {
                    var arr = obj[i].APP_DATE.split("T");
                    $("#line" + (i - pageNum * 9 + 1)).text(obj[i].NAME);
                    $("#date" + (i - pageNum * 9 + 1)).text(arr[0]);
                    $("#li" + (i - pageNum * 9 + 1)).css("display", "block");
                }
                pageNum += 1;
                $("#currenthtml").text("当前页：" + pageNum);
            }
        }
        function gotoFirstPage() {
            for (var i = 1; i < 10; i++) {
                $("#li" + i).css("display", "none");
            }
            pageNum = 0;
            for (var i = pageNum * 9; i < obj.length && i < pageNum * 9 + 9; i++) {
                var arr = obj[i].APP_DATE.split("T");
                $("#line" + (i - pageNum * 9 + 1)).text(obj[i].NAME);
                $("#date" + (i - pageNum * 9 + 1)).text(arr[0]);
                $("#li" + (i - pageNum * 9 + 1)).css("display", "block");
            }
            pageNum += 1;
            $("#currenthtml").text("当前页：" + pageNum);
        }
        function gotoEndPage() {
            for (var i = 1; i < 10; i++) {
                $("#li" + i).css("display", "none");
            }
            pageNum = lPageNum - 1;
            for (var i = pageNum * 9; i < obj.length && i < pageNum * 9 + 9; i++) {
                var arr = obj[i].APP_DATE.split("T");
                $("#line" + (i - pageNum * 9 + 1)).text(obj[i].NAME);
                $("#date" + (i - pageNum * 9 + 1)).text(arr[0]);
                $("#li" + (i - pageNum * 9 + 1)).css("display", "block");
            }
            pageNum += 1;
            $("#currenthtml").text("当前页：" + pageNum);
        }
        function openPatentDetail(num) {
            var patentNum = (pageNum - 1) * 9 + num - 1;
            var patentCode = obj[patentNum].APP_NUM;
            console.log(patentCode);
            // 将patentCode接在url后面调用俊妍的页面
            var uids = $(".username-box.fl .username").attr("title");
            var uid = parseInt(uids);
            var name = $(".username-box.fl .username").text();
            window.location.href = "../Home/Result?uid=" + uid + "&user_name=" + name + "&app_num=" + encodeURI(patentCode);
        }
    </script>
</head>
<body>
    <!--头部-->
    <div class="header unselect">
        <div class="header-content">
            <p class="fl">
                <img img src="~/img/logo_navi3.png" width="27" alt="logo" />
            </p>
            <div class="header-menu fr">
                <div class="box user-box fr">
                    <div class="box-title">
                        <div class="userinfo">
                            <div class="username-box fl">
                                <span class="username" title=""></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-content">
                        <ul class="personalmenu">
                            <li>
                                <a onclick="clicka()"><img src="~/img/personalCenter/exit_selected_icon_u.png" /><img class="dn" src="/img/personalCenter/exit_selected_icon.png" /><span>退出登录</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="cut-line fr"></div>
                <div class="box menu-box fr">
                    <ul style="list-style:none;">
                        <li><a href="">主界面</a></li>
                        <li><a href="">专利检索</a></li>
                        <li><a href="">社区</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Form -->
    <div class="searchForm">
        <input type="search" id="inputBox" placeholder="请输入要检索的内容">
        <button class="searchBtn">智能检索</button>
    </div>
    <div class="dxal_content">
        <div class="position1">
            <p>
                所在位置：<a href="/">首页</a>&gt;<a href="">检索结果</a>
            </p>
        </div>
        <div class="resultList">
            <ul class="list">
                <li style="display:none;" id="li1"><a href="javascript:openPatentDetail(1)" target="" title="" id="a1"><span class="resultLi" id="line1"></span><span class="date" id="date1"></span></a></li>
                <li style="display:none;" id="li2"><a href="javascript:openPatentDetail(2)" target="" title="" id="a2"><span class="resultLi" id="line2"></span><span class="date" id="date2"></span></a></li>
                <li style="display:none;" id="li3"><a href="javascript:openPatentDetail(3)" target="" title="" id="a3"><span class="resultLi" id="line3"></span><span class="date" id="date3"></span></a></li>
                <li style="display:none;" id="li4"><a href="javascript:openPatentDetail(4)" target="" title="" id="a4"><span class="resultLi" id="line4"></span><span class="date" id="date4"></span></a></li>
                <li style="display:none;" id="li5"><a href="javascript:openPatentDetail(5)" target="" title="" id="a5"><span class="resultLi" id="line5"></span><span class="date" id="date5"></span></a></li>
                <li style="display:none;" id="li6"><a href="javascript:openPatentDetail(6)" target="" title="" id="a6"><span class="resultLi" id="line6"></span><span class="date" id="date6"></span></a></li>
                <li style="display:none;" id="li7"><a href="javascript:openPatentDetail(7)" target="" title="" id="a7"><span class="resultLi" id="line7"></span><span class="date" id="date7"></span></a></li>
                <li style="display:none;" id="li8"><a href="javascript:openPatentDetail(8)" target="" title="" id="a8"><span class="resultLi" id="line8"></span><span class="date" id="date8"></span></a></li>
                <li style="display:none;" id="li9"><a href="javascript:openPatentDetail(9)" target="" title="" id="a9"><span class="resultLi" id="line9"></span><span class="date" id="date9"></span></a></li>
            </ul>
            <div style="clear:both"></div>
            <div class="page" style="text-align:center">
                <a href="javascript:gotoFirstPage()">&lt;&lt; 首页</a>
                &nbsp<a href="javascript:lastPage()">上一页</a>
                &nbsp<a href="javascript:nextPage()">下一页</a>
                &nbsp<a href="javascript:gotoEndPage()">尾 页 </a>
                &nbsp<a id="currenthtml">当前页：1</a>&nbsp<a id="totalPagehtml">总页数：1</a>&nbsp<a id="totalSumhtml">总条数：0</a>&nbsp<a>&gt;&gt;</a>
            </div>
        </div>
    </div>

    <!--footer 开始-->
    <div class="footer">
        <div class="footerbg"></div>
        <div class="d_nav">
            <a href="/web/c_000000040014">网站地图</a>|
            <a href="/web/c_0000000400100002">联系我们</a>|
            <a href="/web/c_0000000400100002">联系我们</a>|
            <a>业务投诉:123456789@tongji.edu.cn</a>
        </div>
        <p>同济大学专利管理系统</p>
    </div>
    <script type="text/javascript" src="../../js/searchRst.js"></script>
    <script type="text/javascript" src="~/js/result/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/navigator.js"></script>
    <!--footer 结束-->
</body>
</html>

