@{
    ViewBag.Title = "专利检索";
}

<html>
<head>
    <!-- <link href='../../../../fonts.googleapis.com/css@family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="../../css/reset.css" title="" type="text/css" media="screen">
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="screen">
    <!-- <script type="text/javascript" src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <script type="text/javascript" src="../../js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
    <script type="text/javascript" src="../../js/html5.js"></script>
    <script>
    </script>
</head>
    <body id="body" class="color-blue">
        <div id="settings">
            <a href="#" class="button">Show panel</a>
            <div class="content">
                <ul class="colors">
                    <li class="red"><a href="#color-red">Color red</a></li>
                    <li class="blue"><a href="#color-blue">Color blue</a></li>
                    <li class="green"><a href="#color-green">Color green</a></li>
                    <li class="orange"><a href="#color-orange">Color orange</a></li>
                    <li class="violet"><a href="#color-violet">Color violet</a></li>
                </ul>
            </div>
        </div>
        <div id="wrapper">
            <!-- MAIN CONTENT  -->
    <section id="content">
        <h1 id="main-head">智能检索</h1>
        <!-- END MAIN CONTENT  -->
        <div class="aside" id="timer">
        </div>
    </section>
    <aside id="newsletter">
        <div class="wrapper">
            <form action="/" id="newsletter-form" method="post">
                <p>
                    <label for="email" class="main">Stay informed when we will be back</label>
                    <input type="text" name="email" class="email required" id="email" placeholder="输入关键词" />
                </p>
                <input type="submit" value="检索" class="submit" />
            </form>
        </div>
    </aside>
    </div>
    <aside id="secondary">
        <div class="wrapper">
            <section id="about">
                <h2>专家检索</h2>
                <p>
                    申请号（AN）
                    申请日（AD）
                    公开号（PN）
                    公开日（PD）
                    公告号（GN）
                    分类号(IC)
                    主分类号（MC）
                    范畴分类（CT)
                    优先权号(PR)
                    国省代码(CO)
                    发明人(IN)
                    申请人(PA)
                    关键词(TX)
                    发明名称(TI)
                    代理机构代码(AG)
                    代理人(AT)
                    申请人地址（DZ）
                    摘要（AB）
                    主权利要求（CL）
                    权利要求（CS）
                    说明书（DS）
                </p>
                <!-- <p>Maecenas ut quam pellentesque ligula vestibulum lobortis ut ut sapien. Ut consectetur interdum erat ac fermentum. Sed sollicitudin, lacus vitae dictum imperdiet, orci augue vestibulum ante, aliquam dictum est risus ullamcorper risus. Sed sollicitudin, lacus vitae dictum imperdiet.</p> -->
            </section>
            <section id="contact">
                <!-- <h2>Contact</h2> -->
                <form method="post" id="contact-form" action="contact.php">
                    <!-- <p class="name">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="required" placeholder="Name" name="name" />
                    </p>
                    <p class="sender">
                        <label for="email">Email</label>
                        <input id="sender" class="email required" type="text" placeholder="Email address" name="sender" />
                    </p> -->
                    <p class="msg">
                        <label for="msg">Your message</label>
                        <textarea id="msg" class="required" placeholder="请输入检索式" name="msg"></textarea>
                    </p>
                    <input class="submit-button" type="submit" value="Submit" />
                </form>
                <div class="decor"></div>
            </section>
        </div>
        <!-- <footer id="footer">
            <div class="wrapper">
                <ul>
                    <li class="email">hello@freshidea.sk</li>
                    <li class="address">Fresh idea, Palo Alto, California</li>
                    <li class="fb"><a href="http://sc.chinaz.com/">sc.chinaz.com</a></li>
                </ul>
            </div>
        </footer> -->
    </aside>

    <div id="wrapper">
        <!-- MAIN CONTENT  -->
        <section id="content">
            <h1 id="main-head">法律状态检索</h1>
            <!-- END MAIN CONTENT  -->
            <div class="aside" id="timer">
            </div>
        </section>
        <aside id="newsletter">
            <div class="wrapper">
                <form action="/" id="newsletter-form" method="post">
                    <p>
                        <label for="email" class="main">Stay informed when we will be back</label>
                        <input type="text" name="email" class="email required" id="email" placeholder="输入关键词" />
                    </p>
                    <input type="submit" value="检索" class="submit" />
                </form>
            </div>
        </aside>
    </div>

    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
    </body>
</html>

