@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="QuePAT" />
    <meta name="description" content="QuePAT" />
    <link rel="Shortcut Icon" href="~/img/logo_navi3.png">
    <title>QuePAT</title>
    <link rel="stylesheet" href="~/css/rltStyle.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            //$(".searchBtn").trigger("click");
            
            $(".searchBtn").click(function () {
                console.log("kkkkkk");
                var str = $("#inputBox").val();
                console.log(str);
                $.ajax({
                    type: "post",
                    url: "./SearchByName",
                    data: { searchStr: str },
                    success: function (res) {
                        //var json = eval(res);
                        var obj = eval(res)[0];
                        console.log(obj.NAME);

                        $("#line1").text(obj.NAME);
                        $("#li1").css("display", "block");
                        //    .css({
                        //    width: 10,
                        //    marginTop: 20
                        //})
                        $("#a1").attr("title", obj.NAME );
                    },
                    error: function () {
                    }
                });
            });
            document.getElementsByClassName("searchBtn")[0].click();
        });
    </script>
</head>
<body>
    <!--头部-->
    <div class="header unselect">
        <div class="header-content">
            <p class="fl">
                <img img src="~/img/logo_navi3.png" width="27" alt="logo" />
            </p>
            <div class="header-menu fr">
                <div class="box user-box fr">
                    <div class="box-title">
                        <div class="userinfo">
                            <div class="username-box fl">
                                <span class="username" title="1174851652">1174851652</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-content">
                        <ul class="personalmenu">
                            <li>
                                <a href=""><img src="~/img/personalCenter/center_selected_icon_u.png" /><img class="dn" src="/img/personalCenter/center_selected_icon.png" /><span>专利管理</span></a>
                            </li>
                            <li>
                                <a href=""><img src="~/img/personalCenter/exit_selected_icon_u.png" /><img class="dn" src="/img/personalCenter/exit_selected_icon.png" /><span>退出登录</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="cut-line fr"></div>
                <div class="box menu-box fr">
                    <ul style="list-style:none;">
                        <li><a href="">主界面</a></li>
                        <li><a href="">专利检索</a></li>
                        <li><a href="">社区</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Form -->
    <div class="searchForm">
        <input type="search" id="inputBox" placeholder="请输入要检索的内容">
        <select name="searchType" id="search-type">
            <option value="1">智能检索</option>
            <option value="2">专家检索</option>
        </select>
        <button class="searchBtn">开始检索</button>
    </div>
    <div class="dxal_content">
        <div class="position1">
            <p>
                所在位置：<a href="/">首页</a>&gt;<a href="">检索结果</a>
            </p>
        </div>
        <div class="dxr_content1 dy1 dy_lszx zcfgul">
            @*@{
                    var Patent = new QuePAT.Controllers.PATENTsController.FindByNameContains();
                }*@
            <ul class="dyul1">
                <li style="display:none;" id="li1"><a href="" target="" title="" id="a1"><span class="resultLi" id="line1"></span><span class="date"></span></a></listyle="display:none;">
                <li style="display:none;"><a href="/web/c_0000000400050001/d_2705.htm" target="_blank" title="关于专利电子申请的规定"><span class="lslinr2">关于专利电子申请的规定</span><span class="date">2015/5/7 14:53:56</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400090003/d_1384.htm" target="_blank" title="专利电子申请中的10种常见问题"><span class="lslinr2">专利电子申请中的10种常见问题</span><span class="date">2015/1/23 11:06:55</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400090003/d_1383.htm" target="_blank" title="巧用网站功能提高电子申请效率"><span class="lslinr2">巧用网站功能提高电子申请效率</span><span class="date">2015/1/23 11:05:27</span></a></li>
                <li style="display:none;"><a href="/web/c_000000040001/d_188951.htm" target="_blank" title="关于启用电子检索报告的通告"><span class="lslinr2">关于启用电子检索报告的通告</span><span class="date">2019/12/20 13:22:50</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400050001/d_2705.htm" target="_blank" title="关于专利电子申请的规定"><span class="lslinr2">关于专利电子申请的规定</span><span class="date">2015/5/7 14:53:56</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400090003/d_1384.htm" target="_blank" title="专利电子申请中的10种常见问题"><span class="lslinr2">专利电子申请中的10种常见问题</span><span class="date">2015/1/23 11:06:55</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400090003/d_1383.htm" target="_blank" title="巧用网站功能提高电子申请效率"><span class="lslinr2">巧用网站功能提高电子申请效率</span><span class="date">2015/1/23 11:05:27</span></a></li>
                <li style="display:none;"><a href="/web/c_000000040001/d_188951.htm" target="_blank" title="关于启用电子检索报告的通告"><span class="lslinr2">关于启用电子检索报告的通告</span><span class="date">2019/12/20 13:22:50</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400050001/d_2705.htm" target="_blank" title="关于专利电子申请的规定"><span class="lslinr2">关于专利电子申请的规定</span><span class="date">2015/5/7 14:53:56</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400090003/d_1384.htm" target="_blank" title="专利电子申请中的10种常见问题"><span class="lslinr2">专利电子申请中的10种常见问题</span><span class="date">2015/1/23 11:06:55</span></a></li>
                <li style="display:none;"><a href="/web/c_0000000400090003/d_1383.htm" target="_blank" title="巧用网站功能提高电子申请效率"><span class="lslinr2">巧用网站功能提高电子申请效率</span><span class="date">2015/1/23 11:05:27</span></a></li>
            </ul>
            <div style="clear:both"></div>
            <div class="page" style="text-align:center">
                <a href="javascript:Search.go('1',1)">&lt;&lt; 首页</a>
                &nbsp<a href="javascript:Search.go('1',1)">上一页</a>
                &nbsp<a href="javascript:Search.go('1',1)">下一页</a>
                &nbsp<a href="javascript:Search.go('1',1)">尾 页 </a>
                &nbsp<a href="javascript:void(0)" id="currenthtml">当前页：1</a>&nbsp<a href="javascript:void(0)" id="totalPagehtml">总页数：1</a>&nbsp<a href="javascript:void(0)" id="totalSumhtml">总条数：4</a>&nbsp<a href=#>&gt;&gt;</a>
            </div>
        </div>
    </div>

    <!--footer 开始-->
    <div class="footer">
        <div class="footerbg"></div>
        <div class="d_nav">
            <a href="/web/c_000000040014">网站地图</a>|
            <a href="/web/c_0000000400100002">联系我们</a>|
            <a href="/web/c_0000000400100002">联系我们</a>|
            <a>业务投诉:123456789@tongji.edu.cn</a>
        </div>
        <p>同济大学专利管理系统</p>
    </div>
    @*<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />*@
    <script type="text/javascript" src="../../js/searchRst.js"></script>
    <!--footer 结束-->
</body>
</html>

