/*适配分辨率需要加入*/

@media (min-width: 1024px) {
    html {
        font-size: 70px
    }
}


/*>=1024的设备*/

@media (min-width: 1360px) {
    html {
        font-size: 75px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 85px;
    }
}

@media (min-width: 1680px) {
    html {
        font-size: 100px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 110px;
    }
}

body {
    background-color: #f5f5f5;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
    margin: 0
}

ul {
    padding-left: 0;
    list-style-type: none
}

ol {
    padding-left: 0
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer
}

    a:hover {
        color: #0096db;
        text-decoration: none;
        cursor: pointer
    }

    a:active {
        cursor: default
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

i {
    font-style: normal;
    font-size: 0.16rem;
}

div,
label,
input,
a,
li,
span,
p {
    box-sizing: border-box
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block
}

button {
    border: none;
    outline: none
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none
}

html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none
}

.container-fluid {
    min-width: 12rem;
    /*background-color: wheat;*/
    height: 100%;
    padding: 0;
}

.footer-fp {
    width: 100%;
    height: 1rem;
    background-color: #FFFFFF;
    border-top: 4px solid #2b6ec9;
}

    .footer-fp .footer-fp-content {
        width: 9rem;
        height: 100%;
        margin: 0 auto;
        padding: 0.18rem 0;
        /*background-color: #CCCCCC;*/
    }

        .footer-fp .footer-fp-content div {
            text-align: center;
        }

        .footer-fp .footer-fp-content .col-xs-10 {
            padding: 0.1rem 0;
        }

            .footer-fp .footer-fp-content .col-xs-10 p {
                font-size: 0.13rem;
            }

.col-xs-10 {
    width: 100%;
}

.contenter {
    width: 100%;
    min-height: calc(100% - 1.7rem);
    /*padding: 10% 0;*/
}

    .contenter .contenter-content {
        width: 12rem;
        margin: 0 auto;
        /*overflow: hidden;*/
        padding-top: 0.15rem;
    }


/*专利详情页*/

.detail-head {
    width: 100%;
    height: 0.6rem;
    border-bottom: 3px solid #2b6ec9;
    position: relative;
}

    .detail-head p {
        display: inline-block;
        height: 0.5rem;
        min-width: 1rem;
        font-size: 0.18rem;
        margin: 0;
        line-height: 0.35rem;
        padding: 0.1rem 0.2rem;
        cursor: pointer;
        position: relative;
        top: -0.64rem;
        left: -2.8rem;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        /* Firefox 4 */
        -webkit-transition: all 0.3s;
        /* Safari 和 Chrome */
        -o-transition: all 0.3s;
        /* Opera */
    }


        /*鼠标浮到按钮上效果*/

        .detail-head p:hover {
            color: #FFFFFF;
            background-color: rgba(43, 110, 201, 0.7);
            border-radius: 0.08rem 0.08rem 0 0;
            height: 0.6rem;
            top: -0.71rem;
        }

    .detail-head .active {
        background-color: #2b6ec9;
        color: #FFFFFF;
        border-radius: 8px 8px 0 0;
    }

.dnp {
    display: none;
    font-size: 14px;
}

.dn {
    display: none;
}

#itemyear {
    display: none;
    position: relative;
}

#itemdynam {
    display: none;
    position: relative;
}

#itemfam {
    display: none;
}

#itemInfoContainer {
    display: block;
}

.detail-content .itemInfo .item-title {
    width: 100%;
    border-bottom: 1px dashed #c9c9c9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #2b6ec9;
}

.detail-content .title-color {
    float: none;
    margin-bottom: 0.2rem;
    margin-top: 0.1rem;
    position: relative;
    left: -2.8rem;
    display: inline-block;
}

.detail-content .subtitle-color {
    line-height: 0.25rem;
}

.itemInfo .item-title .trans-btn span {
    position: relative;
    top: -0.19rem;
    margin: 0;
    left: 0.05rem;
}

.itemInfo .item-content {
    width: 75%;
    padding: 0.15rem 0;
}

    .itemInfo .item-content div {
        float: left;
        min-width: 50%;
        margin-bottom: 0.1rem;
    }

.itemInfo .item-img {
    width: 25%;
    padding: 0.15rem 0;
}

.itemInfo .item-summary {
    width: 100%;
    /*min-height: 200px;*/
}

.itemInfo .item-content,
.itemInfo .item-summary {
    font-size: 0.15rem;
}

    .itemInfo .item-content p {
        display: inline-block;
        width: 0.95rem;
        margin-bottom: 0.06rem;
    }


/*可点击条目*/

.item-bc {
    color: #2b6ec9;
    cursor: pointer;
}

    .item-bc:hover {
        color: #221df7;
    }

.itemInfo .item-img img {
    width: 100%;
}

.itemInfo .item-summary p {
    line-height: 0.25rem;
    margin-bottom: 0.05rem;
    text-align: justify;
}


/*条目下内容样式*/

.ti {
    text-indent: 2em;
}

.itemDemand,
.itemIntro,
.itemLaw {
    padding: 0.15rem 0.02rem;
}

    .itemDemand p,
    .itemIntro p,
    .itemLaw p {
        font-size: 0.16rem;
        text-align: justify;
        text-indent: 2em;
    }

#itemfam {
    padding: 0.15rem 0.02rem;
}

    #itemfam p {
        font-size: 0.16rem;
        text-align: justify;
        text-indent: 2em;
    }

.itemPdf {
    height: 7rem;
}

.itemIntro h3 {
    text-align: center;
}

.item-other {
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

    .item-other .item-other-title {
        position: relative;
        bottom: -1px;
    }

        .item-other .item-other-title p {
            display: inline-block;
            margin: 0;
            margin-right: 0.2rem;
            padding: 0 0.2rem;
            min-width: 1.2rem;
            height: 0.5rem;
            line-height: 0.5rem;
            font-size: 0.16rem;
            text-align: center;
            font-weight: bold;
            border: 1px solid #cfcfcf;
            cursor: pointer;
            background-color: #eaeaea;
            border-radius: 4px 4px 0 0;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            /* Firefox 4 */
            -webkit-transition: all 0.3s;
            /* Safari 和 Chrome */
            -o-transition: all 0.3s;
            /* Opera */
        }

.bn {
    border-bottom: none !important;
    background-color: #FFFFFF !important;
    color: #2b6ec9;
}

.item-other .item-other-title p:hover {
    color: #2b6ec9;
}

.item-other .item-other-content {
    width: 100%;
    min-height: 1rem;
    border: 1px solid #cfcfcf;
    padding: 0.2rem;
}

    .item-other .item-other-content p {
        margin: 0;
    }

.itemDemand claim,
.itemDemand claim-texts {
    font-size: 0.16rem;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0.1rem;
}

.leftlink {
    position: relative;
    left: 31%;
}

.linkline {
    position: relative;
    left: 34%;
}

.rightlink {
    position: relative;
    left: 37%;
}

.table-striped thead {
    display: table-header-group;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 2px solid #c0c0c0;
}

tr {
    display: table-row;
}

.table-striped {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: gray;
}

.table-striped tbody tr {
    background-color: #f9f9f9;
    height: 45px;
}

.table-striped tr th {
    height: 35px;
}
