@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Hami - Web Hosting HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->
    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="top-header-content">
                            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: 021-69589712</span></a>
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> <span>Email: QuePAT@gmail.com</span></a>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="top-header-content">
                            <!-- Login -->
                            <a href="login.html"><i class="fa fa-lock" aria-hidden="true"></i> <span>Login / Register</span></a>
                            <!-- Language -->
                            <div class="dropdown">
                                <!--<a class="btn pr-0 dropdown-toggle" href="#" role="button" id="langdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/core-img/eng.png" alt=""> English</a>-->
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langdropdown">
                                    <a class="dropdown-item" href="#">- Latvian</a>
                                    <a class="dropdown-item" href="#">- Hindi</a>
                                    <a class="dropdown-item" href="#">- Bangla</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Top Header Area End -->
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="hamiNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"><img width="290px" src="./img/core-img/que.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="./index.html">主页</a></li>
                                    <li><a href="./hosting.html">信息检索</a></li>
                                    <li>
                                        <a href="#">页面</a>
                                        <ul class="dropdown">
                                            <li><a href="./index.html">- 主页</a></li>
                                            <li><a href="./hosting.html">- 信息检索</a></li>
                                            <li><a href="./about.html">- 专利管理</a></li>
                                            <li><a href="./blog.html">- 统计分析</a></li>
                                            <li><a href="./single-blog.html">- 用户互动</a></li>
                                            <li><a href="./404.html">- 404</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="./about.html">专利管理</a></li>
                                    <li><a href="./blog.html">统计分析</a></li>
                                    <li><a href="#">用户互动</a></li>
                                </ul>

                                <!-- Live Chat -->
                                <div class="live-chat-btn ml-5 mt-4 mt-lg-0 ml-md-4">
                                    <a href="#" class="btn hami-btn live--chat--btn"><i class="fa fa-comments" aria-hidden="true"></i> Live Chat</a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Welcome Area Start -->
    <section class="welcome-area">

        <!-- Welcome Pattern -->
        <div class="welcome-pattern">
            <img src="img/core-img/welcome-pattern.png" alt="">
        </div>

        <!-- Welcome Slide -->
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-9 col-lg-7" style="max-width: 49%;">
                                <div class="welcome-text mb-50">
                                    <h2 data-animation="fadeInLeftBig" data-delay="200ms" data-duration="1s">你的专利，<br> 需要<br>我们的专业</h2>
                                    <!--<p data-animation="fadeInLeftBig" data-delay="400ms" data-duration="1s">专利，从字面上是指专有的权利和利益。</p>-->
                                    <p data-animation="fadeInLeftBig" data-delay="600ms" data-duration="1s">专利，从字面上是指专有的权利和利益。从字面上是指专有的权利和利益。它的拉丁语Litterae patentes，是中世纪的君主用来颁布某种特权的证明。时至今日，专利保护、管理、应用愈发重要，而我们所做的，就是发挥专业所长，让每一个专利在数据库的加持下，得以妥善保护、合理管理、完善应用。</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Welcome Thumbnail -->
                <div class="welcome-thumbnail">
                    <img src="img/bg-img/1.png" alt="">
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-9 col-lg-7" style="max-width: 49%;">
                                <div class="welcome-text mb-50">
                                    <h2 data-animation="fadeInUpBig" data-delay="200ms" data-duration="1s">你的专利，<br> 需要<br>我们的专业</h2>
                                    <!--<p data-animation="fadeInUpBig" data-delay="400ms" data-duration="1s">专利，从字面上是指专有的权利和利益。</p>-->
                                    <p data-animation="fadeInUpBig" data-delay="600ms" data-duration="1s">专利，从字面上是指专有的权利和利益。从字面上是指专有的权利和利益。它的拉丁语Litterae patentes，是中世纪的君主用来颁布某种特权的证明。时至今日，专利保护、管理、应用愈发重要，而我们所做的，就是发挥专业所长，让每一个专利在数据库的加持下，得以妥善保护、合理管理、完善应用。</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Welcome Thumbnail -->
                <div class="welcome-thumbnail">
                    <img src="img/bg-img/2.png" alt="">
                </div>
            </div>

        </div>

        <!-- Clouds -->
        <div class="clouds">
            <img src="img/core-img/cloud-1.png" alt="" class="cloud-1">
            <img src="img/core-img/cloud-2.png" alt="" class="cloud-2">
            <img src="img/core-img/cloud-3.png" alt="" class="cloud-3">
            <img src="img/core-img/cloud-4.png" alt="" class="cloud-4">
            <img src="img/core-img/cloud-5.png" alt="" class="cloud-5">
        </div>
    </section>
    <!-- Welcome Area End -->
    <!-- Find Domain Area Start -->
    <section class="find-domain-area section-padding-100-0">
        <div class="container">
            <div style="margin: 0 auto;" class="row align-items-center">
                <div class="col-12 col-md-4">
                    <div class="domain-text mb-100">
                        <h2>信息检索</h2>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="domain-search-form mb-100">
                        <!-- Search Form -->
                        <form action="#" method="post" class="form-inline">
                            <input style="flex: 0 0 calc(100% - 180px); max-width: calc(100% - 180px);" type="search" placeholder="键入你想要的一切">
                            <!--<select name="domain-extension" id="domainExtension">
                                <option value=".com">.COM</option>
                                <option value=".com">.NET</option>
                                <option value=".com">.ORG</option>
                                <option value=".com">.US</option>
                                <option value=".com">.BIZ</option>
                                <option value=".com">.CO</option>
                            </select>-->
                            <button type="submit">搜索</button>
                        </form>

                        <!-- Domain Price Help -->
                        <div class="domain-price-help mt-50 d-flex align-items-center justify-content-between">
                            <p>普通检索</p>
                            <p>专家检索</p>
                            <p>法律状态检索</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Find Domain Area End -->
    <!-- Features Area Start -->
    <section class="hami-features-area bg-gray section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>统计分析</h2>
                        <p>依据广大的数据库和优秀算法，我们的分析简洁、全面而强大。</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_cloud-upload_alt"></i>
                        </div>
                        <div class="feature-text">
                            <h5>技术动向分析</h5>
                            <!--<p>Don't be distracted by criticism. Remember the only taste of success some people.</p>-->
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_adjust-vert"></i>
                        </div>
                        <div class="feature-text">
                            <h5>主要竞争者专利相互引证分析</h5>
                            <!--<p>Don't be distracted by criticism. Remember the only taste of success some people.</p>-->
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_archive_alt"></i>
                        </div>
                        <div class="feature-text">
                            <h5>技术独立性分析</h5>
                            <!--<p>Don't be distracted by criticism. Remember the only taste of success some people.</p>-->
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_globe-2"></i>
                        </div>
                        <div class="feature-text">
                            <h5>专利权人与市场布局分析</h5>
                            <!--<p>Don't be distracted by criticism. Remember the only taste of success some people.</p>-->
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_shield"></i>
                        </div>
                        <div class="feature-text">
                            <h5>技术独立性分析</h5>
                            <!--<p>Don't be distracted by criticism. Remember the only taste of success some people.</p>-->
                        </div>
                    </div>
                </div>

                <!-- Single Feature Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature-area d-flex mb-50">
                        <div class="feature-icon">
                            <i class="icon_headphones"></i>
                        </div>
                        <div class="feature-text">
                            <h5>手研发活动年期分析</h5>
                            <!--<p>Don't be distracted by criticism. Remember the only taste of success some people.</p>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Feature Pattern -->
        <div class="feature-pattern">
            <img src="img/core-img/welcome-pattern.png" alt="">
        </div>
    </section>
    <!-- Features Area End -->
    <!-- Price Plan Area Start -->
    <!-- Price Plan Area End -->
    <!-- Call To Action Area Start -->
    <section class="hami-call-to-action bg-gray section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="cta-thumbnail mb-100">
                        <img src="img/bg-img/2.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="cta--content mb-100">
                        <h2>我们还提供完备的用户互动平台，为你的专利之路提供一站式服务</h2>
                        <!-- Description -->
                        <div class="cta-desc mb-50">
                            <h6><i class="icon_check"></i> 注册账号</h6>
                            <h6><i class="icon_check"></i> 议题管理</h6>
                            <h6><i class="icon_check"></i> 缴费充值</h6>
                            <h6><i class="icon_check"></i> 专利代办</h6>
                            <h6><i class="icon_check"></i> 注销账号</h6>
                            <h6><i class="icon_check"></i> 批量下载</h6>
                        </div>
                        <!-- Button -->
                        <a href="#" class="btn hami-btn">Get Start Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Area End -->
    <!-- Support Area Start -->
    <section class="hami-support-area bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="support-text">

                    </div>
                </div>
            </div>
        </div>

        <!-- Support Pattern -->
        <div class="support-pattern" style="background-image: url(img/core-img/support-pattern.png);"></div>
    </section>
    <!-- Support Area End -->
    <!-- Call To Action Area Start -->
    <section class="hami-cta-area">
        <div class="container">
            <div class="cta-text">
                <h2>我们拥有超过 <span class="counter">800,000</span> 条专利信息</h2>
            </div>
        </div>
    </section>
    <!-- Call To Action Area End -->
    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">

        <!-- Main Footer Area -->
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area bg-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6" style="margin: 0 auto;">
                        <!-- Copywrite Text -->
                        <div style="margin: 0 auto;" class="copywrite-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Tongji University, Shanghai. Copyright All rights reserved.</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="js/hami.bundle.js"></script>
    <!-- Active -->
    <script src="js/default-assets/active.js"></script>

</body>

</html>
